# Belajar Python Pandas

## Kebutuhan Instalasi
Untuk dapat menjalankan Notebook ini, Anda butuh untuk melakukan instalasi [Anaconda](https://www.anaconda.com/distribution/) pada komputer yang Anda miliki.

## Import Pandas

In [1]:
import pandas as pd

## Mengenal DataFrame

Membuat DataFrame sederhana

In [2]:
pd.DataFrame(data={'Minuman': ['Bandrek', 'Kopi Hitam'], 
                   'Harga': [4500, 3200]})

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

Mengenal index pada DataFrame

In [3]:
pd.DataFrame(data={'Budi': ['suka', 'suka'], 
                   'Wati': ['tidak suka', 'suka.']},
             index=['Mangga', 'Jambu'])

        Budi        Wati
Mangga  suka  tidak suka
Jambu   suka       suka.

## Mengenal Series

In [4]:
pd.Series(data=[100, 150, 200, 250, 300])

0    100
1    150
2    200
3    250
4    300
dtype: int64

In [5]:
pd.Series(data=[3000, 3500, 40000], index=['Mangga', 'Pisang', 'Jambu'], name='Harga Buah')

Mangga     3000
Pisang     3500
Jambu     40000
Name: Harga Buah, dtype: int64

## Memuat File CSV sebagai DataFrame

In [13]:
wine_df = pd.read_csv('./dataset/winemag-data-130k-v2.csv')
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Melihat dimensi dataset

In [14]:
wine_df.shape

(129971, 14)

Menggunakan salah satu kolom sebagai index

In [15]:
wine_df = pd.read_csv('./dataset/winemag-data-130k-v2.csv', index_col=0)
wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [16]:
wine_df.shape

(129971, 13)

## Menyimpan DataFrame sebagai File CSV

In [17]:
minuman_df = pd.DataFrame(data={'Minuman': ['Bandrek', 'Kopi Hitam'], 
                                'Harga': [4500, 3200]})
minuman_df

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

In [18]:
minuman_df.to_csv('./output/minuman.csv')

Menyimpan ke file CSV tanpa menyertakan index

In [21]:
minuman_df.to_csv('./output/minuman.csv', index=False)