# Belajar Python Pandas

## Requirements
Untuk dapat menjalankan Notebook ini, Anda butuh untuk melakukan instalasi [Anaconda](https://www.anaconda.com/distribution/) pada komputer yang Anda miliki.

## Importing Pandas

In [2]:
import pandas as pd

## Mengenal DataFrame

Membuat DataFrame sederhana

In [11]:
pd.DataFrame(data={'Minuman': ['Bandrek', 'Kopi Hitam'], 
                   'Harga': [4500, 3200]})

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

Mengenal index pada DataFrame

In [13]:
pd.DataFrame(data={'Budi': ['suka', 'suka'], 
                   'Wati': ['tidak suka', 'suka.']},
             index=['Mangga', 'Jambu'])

        Budi        Wati
Mangga  suka  tidak suka
Jambu   suka       suka.

## Mengenal Series

In [15]:
pd.Series(data=[100, 150, 200, 250, 300])

0    100
1    150
2    200
3    250
4    300
dtype: int64

In [17]:
pd.Series(data=[3000, 3500, 40000], index=['Mangga', 'Pisang', 'Jambu'], name='Harga Buah')

Mangga     3000
Pisang     3500
Jambu     40000
Name: Harga Buah, dtype: int64

## Memuat File CSV sebagai DataFrame

In [20]:
wine_reviews = pd.read_csv("./dataset/winemag-data_first150k.csv", index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude